  body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px;  
    overflow: hidden;
    
    background: #000000;
  }
  #divAll{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;  
    position:absolute;
    width: device-width;
    height: device-height;
    background: #000000;
    color: #000000;
  }